* {
  border: 1px solid red;
}
.site-header {
  background-color: moccasin;
}
.heading-group-h1 h1, h2 {
  width: 50%;
}
a {
  color: gray;
  text-decoration: none;
}
li {
  border-bottom: 0px;
  width: 20%;
  display: inline-block;
  list-style-type: none;
  margin-left: 5px;
  font-family: 'Droid Serif', serif;
  font-size: 20px;
}
.icon-menu {
  display: none;
}
